---
import { getCollection } from "astro:content";
import Layout from "@layouts/Default.astro";
import BlogList from "@components/blog/BlogList.astro";

const posts = await getCollection("blog").then((collection) =>
  collection.reverse()
);
---

<Layout
  title="Product Experiments"
  description="A curated index of strategic product teardowns, requirements documents, and functional prototypes."
  pageTitle="Experiments"
>
  <main class="page-surface flex-grow border-b-[12px] border-frame px-4 py-10 sm:px-6 sm:py-16 md:px-8 md:py-20" style="background-color: #faf9f6;">
    <BlogList posts={posts} />
  </main>
</Layout>
