---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";

const builtWith = [
  { name: "Astro", url: "https://astro.build/" },
  { name: "UnoCSS", url: "https://uno.antfu.me/" },
  {
    name: "Content Collections",
    url: "https://docs.astro.build/en/guides/content-collections/",
  },
  { name: "RSS", url: "https://docs.astro.build/en/guides/rss/" },
  {
    name: "Sitemap",
    url: "https://docs.astro.build/en/guides/integrations-guide/sitemap/",
  },
  { name: "Vercel", url: "https://vercel.com" },
  { name: "TypeScript", url: "https://www.typescriptlang.org/" },
];
---

<Layout
  title="Home"
  pageTitle="Story Of Strategy | Home"
  description="Brutal is a minimalistic, neobrutalism theme for Astro."
>
  <main class="bg-green p-6 flex-grow border-b-15 border-black">
    <!-- <MobileSocials /> -->
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <div class="col-span-5">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              "Making a <a class="text-white" target="_blank">simple</a> thing is
              never<a class="text-white" target="_blank"> simple"</a>
            </p>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
              I care about turning complexity into clarity.
            </p>
            <Button target={"_self"} href="/blog/">
              Check out the posts &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class="col-span-3">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
            I bridge engineering and product.
          </h2>
          <p class="poppins">
            Grounded in first principles, I look for clarity where others see
            noise. I began in software engineering, but my drive was never just
            writing code—it was understanding why we build, not only how. Moving
            into product management became the natural step.
          </p>
          <!-- <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul> -->
        </Card>
      </div>
      <div class="col-span-3">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">
            Clarity over complexity.
          </h2>
          <p class="poppins">
            I think in systems and mental models. I believe simplicity, clarity,
            and first principles are the foundation of strong products. For me,
            building is about bridging engineering depth with product vision.
          </p>
        </Card>
      </div>
      <div class="col-span-5">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">
            Shaping India’s next wave.
          </h2>
          <p class="poppins">
            The next generation of products from India will influence how
            millions live and work. That’s where I want to apply my mix of
            engineering depth and product clarity.
          </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
