---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<ul class='grid gap-8 md:grid-cols-2 xl:grid-cols-3'>
  {
    posts.map((post) => {
      return (
        <li class='list-none'>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
