---
interface Props {
  title: string;
  pubDate: Date;
  author: string;
}

const { title, pubDate, author } = Astro.props;
---

<article class="prose-slate w-full poppins">
  <div class="border-2 border-black rounded-lg p-8 shadow-box bg-white">
    <h1 class="text-3xl font-bold mb-4">{title}</h1>
    <p class="text-slate text-sm md:text-base mb-8">
      Published on {pubDate.toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })} by {author}
    </p>
    <slot />
  </div>
</article>
